/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .login-page-bg {
    background-color: #dfdfec; 
    min-height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    min-width: 400px;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.3);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px; 
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  
  h2 {
    margin-bottom: 1.5rem;
    color: #333; 
  }
  
  .input-group {
    margin-bottom: 1.2rem; 
    text-align: left;
  }
  
  .input-group label {
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #333; 
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .login-btn {
    background: #0a3375;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }
  
  .login-btn:hover {
    background: #0f4aa3;
  }
  