/* body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
} */
body {
  margin: 0;
  padding: 0;
  /* background-color:  #dfdfec;  */
  font-family: Arial, sans-serif;
}